<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <!--     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" content="Microwave Bot" />
    <meta name="theme-color" content="#ffffff"/>
    <meta
      name="og:description"
      content="Welcome to the Microwave Bot Website!"
    />
    <meta name="og:image" content="/img/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/team.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
    <link rel="icon" href="/img/favicon.ico" />
  </head>

  <body class="bg-dark">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Microwave Bot</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:againes@microwavebot.com">Contact</a>
            </li>
          </ul>
        </div>
        <!-- <button class="btn-primary" onclick="topFunction()" id="myBtn" title="Go to top">Top</button> -->
        <div style="position: left;color: rgb(255, 0, 0)">
          WEBSITE IN DEVELOPMENT
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <div class="container ">
      <div class="row">
        <div class="col text-center" style="color:white">
          <h1>Welcome to the Microwave Bot Website!</h1>
          <p>
            Here you can find all the information you need about Microwave Bot.
          </p>
        </div>
      </div>
    </div>
    <div>
      <!-- Cards for bot information -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-title">🚀 Always online!</div>
              <div class="card-body">We strive to keep our bot online! 24/7/365! We aim for 99.99% uptime</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-title">⚙️ Constantly updating!</div>
              <div class="card-body">We are always updating the bot to keep it nice and fresh for our users!</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-title">🎉 Constant fun!</div>
              <div class="card-body">With our bot, you are bound to have fun messing with it!</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-title">😁 Friendly Developers!</div>
              <div class="card-body">Feel free to give us suggestions any time! We love to hear your feedback!</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-title">💿 Open source!</div>
              <div class="card-body">We love to keep all of our code open source so that you can start a journey in coding!</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-title">💢 Easy to use!</div>
              <div class="card-body">Our bot is easy to use so you don't have to sit around figuring out how things work!</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cards for bot information -->
    </div>


    <!-- Section to split the two -->
    <br>
    <div class="container">
      <div class="row">
        <div class="col text-center" style="color:white">
          <h1>Meet the Developers!</h1>
          <p>
            Here you can find all the information you need about the developers of Microwave Bot.
          </p>
        </div>
      </div>

    <!-- Cards for devs -->

    <div class="container text-center" style='padding-bottom: 50px;'>
      <div class="col-md-auto">
        <div class="row equal col d-flex justify-content-center center" style="margin: 20px" id="owners_list">
        </div>
      </div>
    </div>

    <!-- End Cards for devs -->

    <div class="container text-center">
      <div class="row equal col d-flex justify-content-center center">
        <!-- Buttons for stuff -->
        <div class="col-md-5">
          <a href="https://discord.gg/Ktd3QdFe5M" target="_blank" class="btn btn-secondary" style="width: 20%">Discord</a>
        </div>
        <div class="col-md-5">
          <a href="https://github.com/microwave-inc" target="_blank" class="btn btn-secondary" style="width: 20%">GitHub</a>
        </div>
        <div class="col-md-5">
          <a href="about:blank" target="_blank" class="btn btn-secondary" style="width: 20%">Invite</a>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <style>
      footer {
        position: left;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);;
      }
    </style>
    </body>
    <footer class="text-center text-lg-start">
      <div class="text-center p-3 white-text" style="color:white">
        Made with <a href="/mrs-gaines" class="hidden">❤️</a> by
        <a href="https://github.com/microwave-inc" target="_blank"
          >The Microwave Team</a
        >
      </div>
    </footer>
    
  <footer>
    <!-- Code for tilting -->
    <script
      type="text/javascript"
      src="https://unpkg.com/vanilla-tilt@1.7.0"
    ></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", (event) => {
        VanillaTilt.init(document.querySelectorAll(".card"), {
          max: 15,
          speed: 400,
        });
      });
    </script>
  </footer>
</html>
