<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="og:title" content="Her❤️" />
    <meta name="og:description" content="I love you ❤️" />
    <meta name="og:image" content="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
<body class="bg-dark">
    <div class="container white-text">
        <div class="justify-content-center align-items-center" style="padding-top: 5%;">
            <div class="col-12 text-center white-text">
                <img src="/img/her.jpg" alt="heart" style="width: 50%;" />
            </div>
            <div class="col-12 text-center">
                <h1>I love you ❤️</h1>
        </div>
    </div>
</body>
</html>
